@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Rajdhani:wght@600&display=swap');


/** Basic style **/
body{
    margin: 0;
    background: #F2F2F2;
}

h1{
    font-family: 'Rajdhani', sans-serif;
}

h2{
    font-family: 'Barlow', sans-serif;
    color: #D94350;
}

p{
    font-family: 'Barlow', sans-serif;
}

a{
    color: #D92332;
}

.btn{
    background: #262526;
    color: white;
    
}

.btn:hover{
    border: solid 2px #262526;
}

li{
    list-style: none;
}

/** End **/

/** Index.php  **/

.first-section{
    width: 100%;
    height: 90vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-service{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.carousel{
    max-width: 500px;
    margin: 20px auto 0;
}

/** End **/