@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Rajdhani:wght@600&display=swap');


/** Basic style **/
body{
    margin: 0;
    background: #F2F2F2;
}

h1{
    font-family: 'Rajdhani', sans-serif;
}

h2{
    font-family: 'Barlow', sans-serif;
    color: #D94350;
}

p{
    font-family: 'Barlow', sans-serif;
}

a{
    color: #D92332;
}

.btn{
    background: #262526;
    color: white;
    
}

.btn:hover{
    border: solid 1px #262526;
}

li{
    list-style: none;
}

/** End **/

/** Index.php  **/

.first-section{
    width: 100%;
    height: 90vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-service{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.carousel{
    max-width: 500px;
    margin: 20px auto 0;
}

/** End **/

/** Administration panel **/

.administration-panel{
    background-color: #e0e1dd;
    border: 2px solid;
    border-radius: 15px;
    padding : 25px;
}

/** Exposition_cars.php  **/
/** Filter navbar exposition car  **/

.wrapper{
    border: 2px solid #262526;
    border-radius: 5px;
    background: #e0e1dd;
}

.filter-input{
    width: 100%;
    display: flex;
    margin: 30px 0 25px;
}

.filter-input .field{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}

.field input{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #262526;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.filter-input .separator{
    width: 130px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** End **/